body {
    margin: 0;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #383838;
    background: linear-gradient(173deg, rgba(210,196,146,1) 0%, rgba(183,171,127,1) 100%); 
}

html {
    min-height: 100%;
}

code {
    font-family: "RobotoMono", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}

@font-face {
    font-family: "Agenda";
    src: local("Agenda"), url(./assets/Agenda.ttf) format("truetype");
}
.mint-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
